<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <div class="image-container">
    <div class="image-box">
      <img class="shirt" src="/images/peace-f.jpg" alt="Graphic Tee Female">
    </div>
    <div class="image-box">
      <img class="shirt" src="/images/peace-m.jpg" alt="Graphic Tee Male">
    </div>
  </div>
  <p>
    <span for="img" aria-label="money"> 💲</span>
    <span class="dollar-amount">{{format_amount needed_funding}}</span>
  </p>
  <p>
    <button class="btn btn-primary">Purchase this item!</button>
  </p>
</div>
